/*------------------------------ 
        Common Styles 
------------------------------*/
* {
  box-sizing: border-box;
  user-select: none;
  font-family: Poppins, sans-serif;
  text-decoration: none;
  color: #28282b;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
  border: none;
  font-weight: 600;
  padding: 10px;
}
.title {
  font-size: 26px;
  font-weight: 500;
  padding: 10px 0;
}
.subTitle {
  font-size: 24px;
  font-weight: 400;
  padding: 10px 0;
}
svg {
  width: 30px;
}

/*------------------------------ 
      Template | Container 
------------------------------*/
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  transition: 0.5s;
}
.navWraper {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fdfdfd;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1 / -1;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  background-color: #fafaf1;
  border: 1px solid #efefef;
  padding: 10px 0;
}
nav {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
nav .title {
  padding: 0;
}
.cartIcon {
  cursor: pointer;
  position: relative;
  border-radius: 50%;
}
.cartIcon span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #f40404;
  color: #fdfdfd;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: 50%;
  left: -5px;
}
.mainWraper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1 / -1;
  padding-top: 90px;
}

/*------------------------------ 
    Template | Shopping Cart 
------------------------------*/
.cartContent {
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: fixed;
  background-color: #28282b;
  max-width: 100%;
  width: 480px;
  top: 0;
  bottom: 0;
  right: -480px;
  z-index: 12;
  transition: 0.5s;
}
.cartContent .subTitle {
  color: #fdfdfd;
  padding: 10px;
}
.cartContainer {
  overflow: auto;
  padding: 10px;
}
.cartContainer::-webkit-scrollbar {
  width: 0;
}
.cartProduct img {
  width: 100%;
}
.cartProduct {
  display: grid;
  grid-template-columns: 60px 1fr 50px 80px;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.cartItemName {
  text-align: left;
}
.cartProduct p {
  color: #fdfdfd;
}
.cartProduct .totalPrice {
  text-wrap: nowrap;
  color: #fdfdfd;
}
.cartProduct div {
  display: flex;
  gap: 5px;
  align-items: center;
}
.cartProduct div span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: #eee;
  color: #2f2f2f;
  border-radius: 50%;
  cursor: pointer;
}
.listCart .item .quantity span:nth-child(2) {
  background-color: transparent;
  color: #fff;
}
.cartProduct:nth-child(even) {
  background-color: #eee1;
}

.cartBtns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cartBtns button {
  background-color: #ffdb58;
  font-size: 16px;
  padding: 16px;
}
.cartBtns button.cartClose {
  background-color: #ff6c6c;
}
body.activeCart .cartContent {
  right: 0;
}

/*------------------------------ 
    Index | Products Container 
------------------------------*/
.productsContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1 / -1;
  gap: 20px;
  padding: 10px;
}
.product {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  background-color: #fafaf1;
  border: 1px solid #efefef;
  border-radius: 10px;
  padding: 10px;
}
.product img {
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.4));
  width: 100%;
}
.product h2 {
  text-align: center;
  flex-grow: 1;
  font-size: 18px;
  font-weight: 500;
}
.product p {
  text-align: center;
  letter-spacing: 3px;
  padding: 5px 0;
}
.product button {
  background-color: #28282b;
  color: #fdfdfd;
  border-radius: 20px;
  padding: 5px 10px;
  margin-bottom: 20px;
}

/*------------------------------ 
    Detail | Product Details 
------------------------------*/
.detailsContainer {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  text-align: left;
  margin-bottom: 30px;
}
.image img {
  width: 100%;
}
.image {
  position: relative;
  grid-column: span 12;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image::before {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: calc(50% - 150px);
  right: 50px;
  content: "";
  background-color: #94817733;
  z-index: -1;
  border-radius: 190px 80px 180px 160px;
}
.detailsContent {
  grid-column: span 12;
  padding: 10px;
}
.detailTitle {
  font-size: 24px;
  font-weight: 500;
  padding: 0;
  margin: 0 0 10px 0;
}
.detailPrice {
  font-weight: 500;
  font-size: x-large;
  letter-spacing: 4px;
  margin-bottom: 20px;
}
.detailBtns {
  display: flex;
  gap: 10px;
}
.detailBtns button {
  background-color: #eee;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detailBtns button:nth-child(2) {
  background-color: #2f2f2f;
  color: #eee;
  font-weight: 400;
}
.detailBtns button svg {
  transform: translateY(-2px);
}
.detailsContainer .description {
  font-weight: 300;
  margin-top: 20px;
}

/*------------------------------ 
    Detail | Product Details 
------------------------------*/
.titleSimilar {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  padding-top: 20px;
}

/*------------------------------ 
        Rseponsiveness 
------------------------------*/
@media (min-width: 481px) {
  .cartContent {
    width: 360px;
    right: -360px;
  }
}

@media (min-width: 600px) {
  .productsContainer {
    gap: 30px;
  }
  .product {
    grid-column: span 4;
  }
  .image {
    grid-column: span 7;
  }
  .detailsContent {
    grid-column: span 5;
  }
  .detailTitle {
    padding: 40px 0 0 0;
  }
}

@media (min-width: 769px) {
  .cartContent {
    width: 400px;
    right: -400px;
  }
  nav {
    grid-column: 2 / -2;
  }
  .mainWraper .productsContainer {
    grid-column: 2 / -2;
  }
  .mainWraper .detailsContainer {
    grid-column: 2 / -2;
    gap: 30px;
  }

  .product h2 {
    font-size: 20px;
  }
  .image {
    grid-column: span 6;
  }
  .detailsContent {
    grid-column: span 6;
  }
}

@media (min-width: 1025px) {
  .product {
    grid-column: span 3;
  }
  .image img {
    width: 90%;
  }
  .image::before {
    inset: 0;
    margin: auto;
    left: calc(50% - 190px);
    right: 100px;
    top: 30px;
  }
}
