/* Common Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  text-decoration: none;
  color: #28282b;
}
button {
  cursor: pointer;
  border: none;
  padding: 10px;
  font-weight: 600;
}
.title {
  font-size: 26px;
  font-weight: 500;
  padding: 10px 0;
}
.subTitle {
  font-size: 24px;
  font-weight: 400;
  padding: 10px 0;
}
svg {
  width: 30px;
}

/*------------------------------ 
      Template | Container 
------------------------------*/
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  transition: 0.5s;
}
.container .wraper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1 / -1;
  background-color: #f3ecec;
}
nav {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
nav .title {
  padding: 0;
}
.cartIcon {
  position: relative;
  cursor: pointer;
  border-radius: 50%;
}
.cartIcon span {
  background-color: #f40404;
  color: #fdfdfd;
  position: absolute;
  height: 20px;
  width: 20px;
  top: 50%;
  left: -5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainContent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1 / -1;
}
/*------------------------------ 
    Template | Shopping Cart 
------------------------------*/
.cartContent {
  background-color: #28282b;
  width: 480px;
  max-width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -480px;
  transition: 0.5s;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.cartContent .subTitle {
  color: #fdfdfd;
  padding: 10px;
}
.cartProducts {
  padding: 10px;
  overflow: auto;
}
.cartProducts::-webkit-scrollbar {
  width: 0;
}
.cartBtns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cartBtns button {
  background-color: #ffdb58;
  padding: 16px;
}
.cartBtns button.cartClose {
  background-color: #f3f3f3;
}
body.activeCart .cartContent {
  right: 0;
}
body.activeCart .container {
  transform: translateX(-200px);
}

/* Responsivenses */
@media (min-width: 481px) {
  .cartContent {
    width: 360px;
    right: -360px;
  }
}
@media (min-width: 769px) {
  .cartContent {
    width: 400px;
    right: -400px;
  }
  .container .wraper nav {
    grid-column: 2 / -2;
  }
  .mainContent section {
    grid-column: 2 / -2;
    padding: 10px;
  }
}
